body{color:#333;}
html{height: calc(100% - 43px);}
body,#app{width:100%;height:100%;}
.hidden{display: none; }
.title-text{font-size: 13px;}
.small-text{font-size: 13px; color: #888888;}
.head-box{position: fixed;width: 100%;max-width: 640px;top: 0px;height: 43px;background-color: #efeff4;border-bottom: 0.5px solid #ddd;}
.weui-search-bar{margin-left: 38px;border: 0px;}
.head-box>a{position: absolute;}
.head-box>a>img{width:38px;height:34px;margin: 5px 0px 5px 5px;}
.head-box>span{float: right;line-height: 43px;margin: 0px 12px;color: #ef3470;font-size: 1.3em;}
.type-box{margin-top: 43px;background-color: #eee;height:100%;}
.type-all{width: 22%;display: inline-block;height: 100%;overflow-x: hidden;overflow-y: auto;float: left;color: #9B9B9B;}
.goods-box{width: 78%;display: inline-block;height: 100%;overflow-x: hidden;overflow-y: auto;float: left;background-color:#fff;}
.type-all>span{width: calc(100% - 6px);padding: 23px 3px;font-size: 11px;line-height: 13px;border-bottom: 1px solid #E1E1E1;overflow: hidden;display:block;text-align: center;}
.goods-item{width: calc(33.33% - 10px);display: inline-block;margin: 3px;overflow: hidden;}
.goods-item>span{font-size: 10px;width: 100%;height: 26px;line-height: 13px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;text-align: center;margin-top: 3px;}
.clicked{background-color:#fff;color:#333;}